# Libraries

In [1]:
# import libraries
# ================

# for date and time operations
from datetime import datetime
# for file and folder operations
import os
# for regular expression opeations
import re
# for listing files in a folder
import glob
# for getting web contents
import requests 
# storing and analysing data
import pandas as pd
# for scraping web contents
from bs4 import BeautifulSoup

# Web Scrapping

In [2]:
# get data
# ========

# link at which web data recides
link = 'https://www.mohfw.gov.in/'
# get web data
req = requests.get(link)
# parse web data
soup = BeautifulSoup(req.content, "html.parser")

In [3]:
# find the table
# ==============
# our target table is the last table in the page

# get the table head
# table head may contain the column names, titles, subtitles
thead = soup.find_all('thead')[-1]
print(thead)

# get all the rows in table head
# it usually have only one row, which has the column names
head = thead.find_all('tr')
print(head)

# get the table tbody
# it contains the contents
tbody = soup.find_all('tbody')[-1]
print(tbody)

# get all the rows in table body
# each row is each state's entry
body = tbody.find_all('tr')
print(body)

<thead>
<tr>
<th><strong>S. No.</strong></th>
<th><strong>Name of State / UT</strong></th>
<th><strong>Total Confirmed cases* </strong></th>
<th><strong>Cured/Discharged/Migrated</strong></th>
<th><strong>Deaths**</strong></th>
</tr>
</thead>
[<tr>
<th><strong>S. No.</strong></th>
<th><strong>Name of State / UT</strong></th>
<th><strong>Total Confirmed cases* </strong></th>
<th><strong>Cured/Discharged/Migrated</strong></th>
<th><strong>Deaths**</strong></th>
</tr>]
<tbody>
<tr>
<td>1</td>
<td>Andaman and Nicobar Islands</td>
<td>33</td>
<td>33</td>
<td>0</td>
</tr>
<tr>
<td>2</td>
<td>Andhra Pradesh</td>
<td>2474</td>
<td>1552</td>
<td>50</td>
</tr>
<tr>
<td>3</td>
<td>Arunachal Pradesh</td>
<td>1</td>
<td>1</td>
<td>0</td>
</tr>
<tr>
<td>4</td>
<td>Assam</td>
<td>107</td>
<td>41</td>
<td>2</td>
</tr>
<tr>
<td>5</td>
<td>Bihar</td>
<td>1391</td>
<td>494</td>
<td>9</td>
</tr>
<tr>
<td>6</td>
<td>Chandigarh</td>
<td>196</td>
<td>54</td>
<td>3</td>
</tr>
<tr>
<td>7</td>
<td>Chhattisgarh</td>
<td>93</td>
<td>59</td>
<td>0</td>
</tr>
<tr>
<td>8</td>
<td>Dadar Nagar Haveli</td>
<td>1</td>
<td>0</td>
<td>0</td>
</tr>
<tr>
<td>9</td>
<td>Delhi</td>
<td>10054</td>
<td>4485</td>
<td>168</td>
</tr>
<tr>
<td>10</td>
<td>Goa</td>
<td>38</td>
<td>7</td>
<td>0</td>
</tr>
<tr>
<td>11</td>
<td>Gujarat</td>
<td>11745</td>
<td>4804</td>
<td>694</td>
</tr>
<tr>
<td>12</td>
<td>Haryana</td>
<td>928</td>
<td>598</td>
<td>14</td>
</tr>
<tr>
<td>13</td>
<td>Himachal Pradesh</td>
<td>90</td>
<td>44</td>
<td>3</td>
</tr>
<tr>
<td>14</td>
<td>Jammu and Kashmir</td>
<td>1289</td>
<td>609</td>
<td>15</td>
</tr>
<tr>
<td>15</td>
<td>Jharkhand</td>
<td>223</td>
<td>113</td>
<td>3</td>
</tr>
<tr>
<td>16</td>
<td>Karnataka</td>
<td>1246</td>
<td>530</td>
<td>37</td>
</tr>
<tr>
<td>17</td>
<td>Kerala</td>
<td>630</td>
<td>497</td>
<td>4</td>
</tr>
<tr>
<td>18</td>
<td>Ladakh</td>
<td>43</td>
<td>41</td>
<td>0</td>
</tr>
<tr>
<td>19</td>
<td>Madhya Pradesh</td>
<td>5236</td>
<td>2435</td>
<td>252</td>
</tr>
<tr>
<td>20</td>
<td>Maharashtra</td>
<td>35058</td>
<td>8437</td>
<td>1249</td>
</tr>
<tr>
<td>21</td>
<td>Manipur</td>
<td>7</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td>22</td>
<td>Meghalaya</td>
<td>13</td>
<td>11</td>
<td>1</td>
</tr>
<tr>
<td>23</td>
<td>Mizoram</td>
<td>1</td>
<td>1</td>
<td>0</td>
</tr>
<tr>
<td>24</td>
<td>Odisha</td>
<td>876</td>
<td>220</td>
<td>4</td>
</tr>
<tr>
<td>25</td>
<td>Puducherry</td>
<td>18</td>
<td>9</td>
<td>1</td>
</tr>
<tr>
<td>26</td>
<td>Punjab</td>
<td>1980</td>
<td>1547</td>
<td>37</td>
</tr>
<tr>
<td>27</td>
<td>Rajasthan</td>
<td>5507</td>
<td>3218</td>
<td>138</td>
</tr>
<tr>
<td>28</td>
<td>Tamil Nadu</td>
<td>11760</td>
<td>4406</td>
<td>81</td>
</tr>
<tr>
<td>29</td>
<td>Telengana</td>
<td>1597</td>
<td>1000</td>
<td>35</td>
</tr>
<tr>
<td>30</td>
<td>Tripura</td>
<td>167</td>
<td>85</td>
<td>0</td>
</tr>
<tr>
<td>31</td>
<td>Uttarakhand</td>
<td>93</td>
<td>52</td>
<td>1</td>
</tr>
<tr>
<td>32</td>
<td>Uttar Pradesh</td>
<td>4605</td>
<td>2783</td>
<td>118</td>
</tr>
<tr>
<td>33</td>
<td>West Bengal</td>
<td>2825</td>
<td>1006</td>
<td>244</td>
</tr>
<tr>
<td></td>
<td>Cases being reassigned to states</td>
<td>814</td>
<td></td>
<td></td>
</tr>
<tr>
<td colspan="2"><strong><span>Total number of confirmed cases in India</span></strong></td>
<td align="right" style="text-align:right;"><strong>101139#</strong></td>
<td>
<strong>39174</strong>
</td>
<td>
<strong>3163</strong>
</td>
</tr>
<tr>
<td align="center" colspan="5" style="text-align:center;"><strong>*(Including foreign Nationals)
</strong>
</td>
</tr>
<tr>
<td align="center" colspan="5" style="text-align:center;"><strong>**( more than 70% cases due to comorbidities )</strong>
</td>
</tr>
<tr>
<td align="center" colspan="5" style="text-align:center;"><strong>#States wise distribution is subject to further verification and reconciliation</strong>
</td>
</tr>
<tr>
<td align="center" colspan="5" style="text-align:center;"><strong>#Our figures are being reconciled with ICMR</strong></td>
</tr>
</tbody>
[<tr>
<td>1</td>
<td>Andaman and Nicobar Islands</td>
<td>33</td>
<td>33</td>
<td>0</td>
</tr>, <tr>
<td>2</td>
<td>Andhra Pradesh</td>
<td>2474</td>
<td>1552</td>
<td>50</td>
</tr>, <tr>
<td>3</td>
<td>Arunachal Pradesh</td>
<td>1</td>
<td>1</td>
<td>0</td>
</tr>, <tr>
<td>4</td>
<td>Assam</td>
<td>107</td>
<td>41</td>
<td>2</td>
</tr>, <tr>
<td>5</td>
<td>Bihar</td>
<td>1391</td>
<td>494</td>
<td>9</td>
</tr>, <tr>
<td>6</td>
<td>Chandigarh</td>
<td>196</td>
<td>54</td>
<td>3</td>
</tr>, <tr>
<td>7</td>
<td>Chhattisgarh</td>
<td>93</td>
<td>59</td>
<td>0</td>
</tr>, <tr>
<td>8</td>
<td>Dadar Nagar Haveli</td>
<td>1</td>
<td>0</td>
<td>0</td>
</tr>, <tr>
<td>9</td>
<td>Delhi</td>
<td>10054</td>
<td>4485</td>
<td>168</td>
</tr>, <tr>
<td>10</td>
<td>Goa</td>
<td>38</td>
<td>7</td>
<td>0</td>
</tr>, <tr>
<td>11</td>
<td>Gujarat</td>
<td>11745</td>
<td>4804</td>
<td>694</td>
</tr>, <tr>
<td>12</td>
<td>Haryana</td>
<td>928</td>
<td>598</td>
<td>14</td>
</tr>, <tr>
<td>13</td>
<td>Himachal Pradesh</td>
<td>90</td>
<td>44</td>
<td>3</td>
</tr>, <tr>
<td>14</td>
<td>Jammu and Kashmir</td>
<td>1289</td>
<td>609</td>
<td>15</td>
</tr>, <tr>
<td>15</td>
<td>Jharkhand</td>
<td>223</td>
<td>113</td>
<td>3</td>
</tr>, <tr>
<td>16</td>
<td>Karnataka</td>
<td>1246</td>
<td>530</td>
<td>37</td>
</tr>, <tr>
<td>17</td>
<td>Kerala</td>
<td>630</td>
<td>497</td>
<td>4</td>
</tr>, <tr>
<td>18</td>
<td>Ladakh</td>
<td>43</td>
<td>41</td>
<td>0</td>
</tr>, <tr>
<td>19</td>
<td>Madhya Pradesh</td>
<td>5236</td>
<td>2435</td>
<td>252</td>
</tr>, <tr>
<td>20</td>
<td>Maharashtra</td>
<td>35058</td>
<td>8437</td>
<td>1249</td>
</tr>, <tr>
<td>21</td>
<td>Manipur</td>
<td>7</td>
<td>2</td>
<td>0</td>
</tr>, <tr>
<td>22</td>
<td>Meghalaya</td>
<td>13</td>
<td>11</td>
<td>1</td>
</tr>, <tr>
<td>23</td>
<td>Mizoram</td>
<td>1</td>
<td>1</td>
<td>0</td>
</tr>, <tr>
<td>24</td>
<td>Odisha</td>
<td>876</td>
<td>220</td>
<td>4</td>
</tr>, <tr>
<td>25</td>
<td>Puducherry</td>
<td>18</td>
<td>9</td>
<td>1</td>
</tr>, <tr>
<td>26</td>
<td>Punjab</td>
<td>1980</td>
<td>1547</td>
<td>37</td>
</tr>, <tr>
<td>27</td>
<td>Rajasthan</td>
<td>5507</td>
<td>3218</td>
<td>138</td>
</tr>, <tr>
<td>28</td>
<td>Tamil Nadu</td>
<td>11760</td>
<td>4406</td>
<td>81</td>
</tr>, <tr>
<td>29</td>
<td>Telengana</td>
<td>1597</td>
<td>1000</td>
<td>35</td>
</tr>, <tr>
<td>30</td>
<td>Tripura</td>
<td>167</td>
<td>85</td>
<td>0</td>
</tr>, <tr>
<td>31</td>
<td>Uttarakhand</td>
<td>93</td>
<td>52</td>
<td>1</td>
</tr>, <tr>
<td>32</td>
<td>Uttar Pradesh</td>
<td>4605</td>
<td>2783</td>
<td>118</td>
</tr>, <tr>
<td>33</td>
<td>West Bengal</td>
<td>2825</td>
<td>1006</td>
<td>244</td>
</tr>, <tr>
<td></td>
<td>Cases being reassigned to states</td>
<td>814</td>
<td></td>
<td></td>
</tr>, <tr>
<td colspan="2"><strong><span>Total number of confirmed cases in India</span></strong></td>
<td align="right" style="text-align:right;"><strong>101139#</strong></td>
<td>
<strong>39174</strong>
</td>
<td>
<strong>3163</strong>
</td>
</tr>, <tr>
<td align="center" colspan="5" style="text-align:center;"><strong>*(Including foreign Nationals)
</strong>
</td>
</tr>, <tr>
<td align="center" colspan="5" style="text-align:center;"><strong>**( more than 70% cases due to comorbidities )</strong>
</td>
</tr>, <tr>
<td align="center" colspan="5" style="text-align:center;"><strong>#States wise distribution is subject to further verification and reconciliation</strong>
</td>
</tr>, <tr>
<td align="center" colspan="5" style="text-align:center;"><strong>#Our figures are being reconciled with ICMR</strong></td>
</tr>]

In [4]:
# get the table contents
# ======================

# container for header rows / column title
head_rows = []
# container for table body / contents
body_rows = []

# loop through the head and append each row to head
for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)
print(head_rows)

# loop through the body and append each row to body
for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
print(body_rows)

[['S. No.', 'Name of State / UT', 'Total Confirmed cases* ', 'Cured/Discharged/Migrated', 'Deaths**']]
[['1', 'Andaman and Nicobar Islands', '33', '33', '0'], ['2', 'Andhra Pradesh', '2474', '1552', '50'], ['3', 'Arunachal Pradesh', '1', '1', '0'], ['4', 'Assam', '107', '41', '2'], ['5', 'Bihar', '1391', '494', '9'], ['6', 'Chandigarh', '196', '54', '3'], ['7', 'Chhattisgarh', '93', '59', '0'], ['8', 'Dadar Nagar Haveli', '1', '0', '0'], ['9', 'Delhi', '10054', '4485', '168'], ['10', 'Goa', '38', '7', '0'], ['11', 'Gujarat', '11745', '4804', '694'], ['12', 'Haryana', '928', '598', '14'], ['13', 'Himachal Pradesh', '90', '44', '3'], ['14', 'Jammu and Kashmir', '1289', '609', '15'], ['15', 'Jharkhand', '223', '113', '3'], ['16', 'Karnataka', '1246', '530', '37'], ['17', 'Kerala', '630', '497', '4'], ['18', 'Ladakh', '43', '41', '0'], ['19', 'Madhya Pradesh', '5236', '2435', '252'], ['20', 'Maharashtra', '35058', '8437', '1249'], ['21', 'Manipur', '7', '2', '0'], ['22', 'Meghalaya', '13', '11', '1'], ['23', 'Mizoram', '1', '1', '0'], ['24', 'Odisha', '876', '220', '4'], ['25', 'Puducherry', '18', '9', '1'], ['26', 'Punjab', '1980', '1547', '37'], ['27', 'Rajasthan', '5507', '3218', '138'], ['28', 'Tamil Nadu', '11760', '4406', '81'], ['29', 'Telengana', '1597', '1000', '35'], ['30', 'Tripura', '167', '85', '0'], ['31', 'Uttarakhand', '93', '52', '1'], ['32', 'Uttar Pradesh', '4605', '2783', '118'], ['33', 'West Bengal', '2825', '1006', '244'], ['', 'Cases being reassigned to states', '814', '', ''], ['Total number of confirmed cases in India', '101139#', '\n39174\n', '\n3163\n'], ['*(Including foreign Nationals)\n\n'], ['**( more than 70% cases due to comorbidities )\n'], ['#States wise distribution is subject to further verification and reconciliation\n'], ['#Our figures are being reconciled with ICMR']]

In [5]:
# save contents in a dataframe
# ============================
    
# skip last 3 rows, it contains unwanted info
# head_rows contains column title
df_bs = pd.DataFrame(body_rows[:len(body_rows)-6], 
                     columns=head_rows[0])         

# Drop 'S. No.' column
df_bs.drop('S. No.', axis=1, inplace=True)

# there are 36 states+UT in India
df_bs.head(36)

,Name of State / UT,Total Confirmed cases*,Cured/Discharged/Migrated,Deaths**
0,Andaman and Nicobar Islands,33,33,0
1,Andhra Pradesh,2474,1552,50
2,Arunachal Pradesh,1,1,0
3,Assam,107,41,2
4,Bihar,1391,494,9
5,Chandigarh,196,54,3
6,Chhattisgarh,93,59,0
7,Dadar Nagar Haveli,1,0,0
8,Delhi,10054,4485,168
9,Goa,38,7,0
10,Gujarat,11745,4804,694
11,Haryana,928,598,14
12,Himachal Pradesh,90,44,3
13,Jammu and Kashmir,1289,609,15
14,Jharkhand,223,113,3
15,Karnataka,1246,530,37
16,Kerala,630,497,4
17,Ladakh,43,41,0
18,Madhya Pradesh,5236,2435,252
19,Maharashtra,35058,8437,1249
20,Manipur,7,2,0
21,Meghalaya,13,11,1
22,Mizoram,1,1,0
23,Odisha,876,220,4
24,Puducherry,18,9,1
25,Punjab,1980,1547,37
26,Rajasthan,5507,3218,138
27,Tamil Nadu,11760,4406,81
28,Telengana,1597,1000,35
29,Tripura,167,85,0
30,Uttarakhand,93,52,1
31,Uttar Pradesh,4605,2783,118
32,West Bengal,2825,1006,244

# Data Cleaning

In [6]:
# date-time information
# =====================

# today's date
now  = datetime.now()
print(now)
# format date to month-day-year
df_bs['Date'] = now.strftime("%m/%d/%Y") 

# add 'Date' column to dataframe
df_bs['Date'] = pd.to_datetime(df_bs['Date'], format='%m/%d/%Y')

df_bs.head(36)

2020-05-19 19:38:47.390802

,Name of State / UT,Total Confirmed cases*,Cured/Discharged/Migrated,Deaths**,Date
0,Andaman and Nicobar Islands,33,33,0,2020-05-19
1,Andhra Pradesh,2474,1552,50,2020-05-19
2,Arunachal Pradesh,1,1,0,2020-05-19
3,Assam,107,41,2,2020-05-19
4,Bihar,1391,494,9,2020-05-19
5,Chandigarh,196,54,3,2020-05-19
6,Chhattisgarh,93,59,0,2020-05-19
7,Dadar Nagar Haveli,1,0,0,2020-05-19
8,Delhi,10054,4485,168,2020-05-19
9,Goa,38,7,0,2020-05-19
10,Gujarat,11745,4804,694,2020-05-19
11,Haryana,928,598,14,2020-05-19
12,Himachal Pradesh,90,44,3,2020-05-19
13,Jammu and Kashmir,1289,609,15,2020-05-19
14,Jharkhand,223,113,3,2020-05-19
15,Karnataka,1246,530,37,2020-05-19
16,Kerala,630,497,4,2020-05-19
17,Ladakh,43,41,0,2020-05-19
18,Madhya Pradesh,5236,2435,252,2020-05-19
19,Maharashtra,35058,8437,1249,2020-05-19
20,Manipur,7,2,0,2020-05-19
21,Meghalaya,13,11,1,2020-05-19
22,Mizoram,1,1,0,2020-05-19
23,Odisha,876,220,4,2020-05-19
24,Puducherry,18,9,1,2020-05-19
25,Punjab,1980,1547,37,2020-05-19
26,Rajasthan,5507,3218,138,2020-05-19
27,Tamil Nadu,11760,4406,81,2020-05-19
28,Telengana,1597,1000,35,2020-05-19
29,Tripura,167,85,0,2020-05-19
30,Uttarakhand,93,52,1,2020-05-19
31,Uttar Pradesh,4605,2783,118,2020-05-19
32,West Bengal,2825,1006,244,2020-05-19

In [7]:
# remove extra characters from 'Name of State/UT' column
df_bs['Name of State / UT'] = df_bs['Name of State / UT'].str.replace('#', '')
df_bs.head()

,Name of State / UT,Total Confirmed cases*,Cured/Discharged/Migrated,Deaths**,Date
0,Andaman and Nicobar Islands,33,33,0,2020-05-19
1,Andhra Pradesh,2474,1552,50,2020-05-19
2,Arunachal Pradesh,1,1,0,2020-05-19
3,Assam,107,41,2,2020-05-19
4,Bihar,1391,494,9,2020-05-19

In [8]:
# latitude and longitude information
# ==================================

# latitude of the states
lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401, 'Assam' : 26.2006, 
       'Jharkhand': 23.6102, 'Arunachal Pradesh': 28.2180, 'Tripura': 23.9408, 'Nagaland': 26.1584, 
       'Meghalaya' : 25.4670, 'Dadar Nagar Haveli' : 20.1809}

# longitude of the states
long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586, 'Assam' : 92.9376, 
        'Jharkhand': 85.2799, 'Arunachal Pradesh': 94.7278, 'Tripura': 91.9882, 'Nagaland': 94.5624,
        'Meghalaya' : 91.3662, 'Dadar Nagar Haveli' : 73.0169}

# add latitude column based on 'Name of State / UT' column
df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)

# add longitude column based on 'Name of State / UT' column
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long)

df_bs.head(36)

,Name of State / UT,Total Confirmed cases*,Cured/Discharged/Migrated,Deaths**,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,33,33,0,2020-05-19,11.7401,92.6586
1,Andhra Pradesh,2474,1552,50,2020-05-19,15.9129,79.7400
2,Arunachal Pradesh,1,1,0,2020-05-19,28.2180,94.7278
3,Assam,107,41,2,2020-05-19,26.2006,92.9376
4,Bihar,1391,494,9,2020-05-19,25.0961,85.3131
5,Chandigarh,196,54,3,2020-05-19,30.7333,76.7794
6,Chhattisgarh,93,59,0,2020-05-19,21.2787,81.8661
7,Dadar Nagar Haveli,1,0,0,2020-05-19,20.1809,73.0169
8,Delhi,10054,4485,168,2020-05-19,28.7041,77.1025
9,Goa,38,7,0,2020-05-19,15.2993,74.1240
10,Gujarat,11745,4804,694,2020-05-19,22.2587,71.1924
11,Haryana,928,598,14,2020-05-19,29.0588,76.0856
12,Himachal Pradesh,90,44,3,2020-05-19,31.1048,77.1734
13,Jammu and Kashmir,1289,609,15,2020-05-19,33.7782,76.5762
14,Jharkhand,223,113,3,2020-05-19,23.6102,85.2799
15,Karnataka,1246,530,37,2020-05-19,15.3173,75.7139
16,Kerala,630,497,4,2020-05-19,10.8505,76.2711
17,Ladakh,43,41,0,2020-05-19,34.2996,78.2932
18,Madhya Pradesh,5236,2435,252,2020-05-19,22.9734,78.6569
19,Maharashtra,35058,8437,1249,2020-05-19,19.7515,75.7139
20,Manipur,7,2,0,2020-05-19,24.6637,93.9063
21,Meghalaya,13,11,1,2020-05-19,25.4670,91.3662
22,Mizoram,1,1,0,2020-05-19,23.1645,92.9376
23,Odisha,876,220,4,2020-05-19,20.9517,85.0985
24,Puducherry,18,9,1,2020-05-19,11.9416,79.8083
25,Punjab,1980,1547,37,2020-05-19,31.1471,75.3412
26,Rajasthan,5507,3218,138,2020-05-19,27.0238,74.2179
27,Tamil Nadu,11760,4406,81,2020-05-19,11.1271,78.6569
28,Telengana,1597,1000,35,2020-05-19,18.1124,79.0193
29,Tripura,167,85,0,2020-05-19,23.9408,91.9882
30,Uttarakhand,93,52,1,2020-05-19,30.0668,79.0193
31,Uttar Pradesh,4605,2783,118,2020-05-19,26.8467,80.9462
32,West Bengal,2825,1006,244,2020-05-19,22.9868,87.8550

In [9]:
# unique state names
df_bs['Name of State / UT'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadar Nagar Haveli', 'Delhi', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand',
       'Karnataka', 'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Tamil Nadu', 'Telengana', 'Tripura',
       'Uttarakhand', 'Uttar Pradesh', 'West Bengal'], dtype=object)

In [10]:
# number of missing values 
df_bs.isna().sum()

Name of State / UT           0
Total Confirmed cases*       0
Cured/Discharged/Migrated    0
Deaths**                     0
Date                         0
Latitude                     0
Longitude                    0
dtype: int64

In [11]:
# number of unique values 
df_bs.nunique()

Name of State / UT           33
Total Confirmed cases*       30
Cured/Discharged/Migrated    31
Deaths**                     19
Date                          1
Latitude                     33
Longitude                    29
dtype: int64

# Saving data

In [12]:
pwd

'C:\\Users\\satwi'

In [13]:
# saving data
# ===========

# file names as year-month-day.csv format
file_name = now.strftime("%Y_%m_%d")+'.csv'

# location for saving the file
file_loc = 'C:\\Users\\satwi\\'

# save file as a scv file
df_bs.to_csv(file_loc + file_name, index=False)

df_bs.head(36)

,Name of State / UT,Total Confirmed cases*,Cured/Discharged/Migrated,Deaths**,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,33,33,0,2020-05-19,11.7401,92.6586
1,Andhra Pradesh,2474,1552,50,2020-05-19,15.9129,79.7400
2,Arunachal Pradesh,1,1,0,2020-05-19,28.2180,94.7278
3,Assam,107,41,2,2020-05-19,26.2006,92.9376
4,Bihar,1391,494,9,2020-05-19,25.0961,85.3131
5,Chandigarh,196,54,3,2020-05-19,30.7333,76.7794
6,Chhattisgarh,93,59,0,2020-05-19,21.2787,81.8661
7,Dadar Nagar Haveli,1,0,0,2020-05-19,20.1809,73.0169
8,Delhi,10054,4485,168,2020-05-19,28.7041,77.1025
9,Goa,38,7,0,2020-05-19,15.2993,74.1240
10,Gujarat,11745,4804,694,2020-05-19,22.2587,71.1924
11,Haryana,928,598,14,2020-05-19,29.0588,76.0856
12,Himachal Pradesh,90,44,3,2020-05-19,31.1048,77.1734
13,Jammu and Kashmir,1289,609,15,2020-05-19,33.7782,76.5762
14,Jharkhand,223,113,3,2020-05-19,23.6102,85.2799
15,Karnataka,1246,530,37,2020-05-19,15.3173,75.7139
16,Kerala,630,497,4,2020-05-19,10.8505,76.2711
17,Ladakh,43,41,0,2020-05-19,34.2996,78.2932
18,Madhya Pradesh,5236,2435,252,2020-05-19,22.9734,78.6569
19,Maharashtra,35058,8437,1249,2020-05-19,19.7515,75.7139
20,Manipur,7,2,0,2020-05-19,24.6637,93.9063
21,Meghalaya,13,11,1,2020-05-19,25.4670,91.3662
22,Mizoram,1,1,0,2020-05-19,23.1645,92.9376
23,Odisha,876,220,4,2020-05-19,20.9517,85.0985
24,Puducherry,18,9,1,2020-05-19,11.9416,79.8083
25,Punjab,1980,1547,37,2020-05-19,31.1471,75.3412
26,Rajasthan,5507,3218,138,2020-05-19,27.0238,74.2179
27,Tamil Nadu,11760,4406,81,2020-05-19,11.1271,78.6569
28,Telengana,1597,1000,35,2020-05-19,18.1124,79.0193
29,Tripura,167,85,0,2020-05-19,23.9408,91.9882
30,Uttarakhand,93,52,1,2020-05-19,30.0668,79.0193
31,Uttar Pradesh,4605,2783,118,2020-05-19,26.8467,80.9462
32,West Bengal,2825,1006,244,2020-05-19,22.9868,87.8550

In [14]:
# save data in a csv file
df_bs.to_csv('complete.csv', index=False)

In [15]:
df=pd.read_csv('complete.csv')

In [16]:
df.head(5)

,Name of State / UT,Total Confirmed cases*,Cured/Discharged/Migrated,Deaths**,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,33,33,0,2020-05-19,11.7401,92.6586
1,Andhra Pradesh,2474,1552,50,2020-05-19,15.9129,79.7400
2,Arunachal Pradesh,1,1,0,2020-05-19,28.2180,94.7278
3,Assam,107,41,2,2020-05-19,26.2006,92.9376
4,Bihar,1391,494,9,2020-05-19,25.0961,85.3131

In [ ]:
# column names 
# df_bs.columns

# Combining data

In [ ]:
# location of the file
loc = "C:\\Users\\satwi\\"

# list of all files
files = glob.glob(loc+'2020*.csv')
   
# container for each day's data's dataframe
dfs = []

# loop through the files and append to the dfs list
for i in files:
    # read data
    df_temp = pd.read_csv(i)
    
    # rename columns
    df_temp = df_temp.rename(columns={'Cured':'Cured/Discharged'})
    df_temp = df_temp.rename(columns={'Cured/Discharged':'Cured/Discharged/Migrated', 
                                      'Total Confirmed cases *': 'Total Confirmed cases', 
                                      'Total Confirmed cases ': 'Total Confirmed cases'})
    df_temp = df_temp.rename(columns=lambda x: re.sub('Total Confirmed cases \(Including .* foreign Nationals\) ',
                                                      'Total Confirmed cases',x))
    df_temp = df_temp.rename(columns={'Deaths ( more than 70% cases due to comorbidities )':'Death'})
    
    # append to the df_s
    dfs.append(df_temp)
    
print(dfs)

# concat dataframes
#complete_data = pd.concat(dfs, ignore_index=True).sort_values(['Date'], ascending=True).reset_index(drop=True)

In [ ]:
complete_data.columns

## Preprocessing

In [ ]:
# fix datatype
complete_data['Date'] = pd.to_datetime(complete_data['Date'])

# sort rows
complete_data = complete_data.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

# fill missing values with 0
#cols = ['Total Confirmed cases (Indian National)', 'Total Confirmed cases ( Foreign National )', 
  #            'Cured/Discharged/Migrated', 'Death']
#complete_data[cols] = complete_data[cols].fillna(0).astype('int')

In [ ]:
# rename state/UT names
complete_data['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
complete_data['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [ ]:
# select only rows with more than 1 case
complete_data = complete_data[complete_data['Total Confirmed cases']>0]

## Final dataframe

In [ ]:
# random rows
complete_data.head(33)

In [ ]:
# complete data info
complete_data.describe()

## Save as .csv file

In [ ]:
# save data in a csv file
complete_data.to_csv('complete.csv', index=False)

In [ ]:
df=pd.read_csv('complete.csv')

In [ ]:
df.head(33)